entrypoint = "main.py"
modules = ["python-3.10"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5900
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run Flask App"
author = 44918591
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"

[[workflows.workflow]]
name = "Run"
author = 44918591
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"
